

<h1> Searched for: {{ query }}</h1>
<table style="width:50%">
	<tr><th>Time</th><th>LogLevel</th><th align="center">Logger</th><th>Messages</th>
		{% for record in data|dictsort:"timestamp" %}
			<tr><td align="center">{{ record.timestamp }}</td><td align="center">{{ record.logLevel }}</td><td align="center">{{ record.logger }}</td><td align="center">{{ record.messages }}</td></tr>
		{% endfor %}
</table>
